@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

html {
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

body, h1, h2, p, input, textarea, button, a {
    font-family: "Poppins", sans-serif;
}

.navbar.bg-dark {
    background-color: #141414 !important; 
}

.footer {
    background-color: #141414 !important; 
}

#Welcome {
    position: relative;
    background: url('banner.jpg') no-repeat center top fixed;
    background-size: cover;
    color: #ffffff;
    text-align: center;
    padding: 100px 0;
}


#Welcome h1,
#Welcome p {
    color: #ffffff;
}

h1 {
    text-shadow: 4px 4px 3px rgb(19, 19, 19);
}

.btn-primary {
    background-color: #18a156;
    border-color: #18a156;
}

.btn-primary:hover {
    background-color: #3c6850;
}

.card.bg-warning {
    background-color: #18a156 !important;
}

.card {
    border: none;
}

.card-body {
    background-color: #5abd80;
    border-radius: 5px;
    color: black;
    font-family: "Poppins", sans-serif;
}

.form-control {
    font-family: "Poppins", sans-serif;
}
