@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

html {
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

body, h1, h2, p, input, textarea, button, a {
    font-family: "Poppins", sans-serif;
}

.navbar.bg-dark {
    background-color: #141414 !important; 
}

.footer {
    background-color: #141414 !important; 
}

#Welcome {
    position: relative;
    background: url('banner.jpg') no-repeat center top fixed;
    background-size: cover;
    color: #ffffff;
    text-align: center;
    padding: 100px 0;
}


#Welcome h1{
    color: #ffffff;
    text-shadow: 4px 4px 3px rgb(19, 19, 19);
}

#Welcome p {
    color: #ffffff;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

h1 {
    text-shadow: 4px 4px 3px rgb(19, 19, 19);
}

.btn-primary {
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    transition: transform 0.3s ease;
}

#appointment-box .btn-primary{
    background-color: #30975f;
    border-color: #0f0f0f;
}

#appointment-box .btn-primary:hover{
    background-color: #11bd5e;
    border-color: #11bd5e;
    transform: scale(1.1);
}

.btn-primary:hover {
    background-color: #2b965b;
    border-color: #11bd5e;
}

.card.bg-warning {
    margin-top: 10px;
    background-color: #d6d6d6 !important;
}

.card {
    border: none;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}


.card-body {
    background-color: rgb(22, 22, 22);
    border-radius: 5px;
    color: white;
    font-family: "Poppins", sans-serif;
}

.card-body:hover{
    background-color: #2b965b;
}

.footer .card-body{
    background-color: #549270cc;
    color: black;
}

.form-control {
    font-family: "Poppins", sans-serif;
}

#appointment-box {
    background-color: #181818;
    /* padding: 15px; */
    border-radius: 10px;
    color: #191b1d;
}

#appointment-box-box {
    padding: 15px;
}
