@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

html {
  scroll-behavior: smooth;
}


/* WEBSITE USED FOR THE BACKGROUND AND NAVBAR COLOUR */
/* https://cssgradient.io/ */

body {
  margin: 0;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  /* background-color: rgb(7, 7, 7); */
  background: rgb(34,34,34);
  background: radial-gradient(circle, rgba(34,34,34,1) 0%, rgba(0,0,0,1) 100%);
}



h1 {
  font-family: 'Anton', sans-serif;
  font-size: 90px;
  margin: 0;
  letter-spacing: 3px;
  line-height: 1.;
}


.main-content {
  margin-top: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.dropin-content {
  /* margin-top: 46px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.image-content {
  margin-right: 5vw;
  flex: 1;
  flex-direction: column;
}

.App-logo {
  max-width: 500px;
  height: auto;
  border-radius: 10px;
}

.title-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left; 
}


.App-link {
  color: #d0fd1b;
}

@media screen and (max-width: 768px) {

  .main-content {
    flex-direction: column;
  }

  .image-content,
  .title-container, .page {
    margin: 10vw 1vw 1vw 1vw;
    text-align: left; 
  }

  .image-content {
    flex: 0;
  }

}

.btn-primary {
  background-color: #d0fd1b;
  color: #000000;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.434);
}

.btn-primary:hover {
  background-color: rgb(211, 211, 211);
  color: #181818;
}


body {
  --sb-track-color: #212121;
  --sb-thumb-color: #d0fd1b;
  --sb-size: 14px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

.info-icon-button {
  position: fixed;
  bottom: 6%;
  left: 6%;
  border: none;
  background-color: transparent;
  color: #007bff;
  cursor: pointer;
}

.buttonChoice{
  margin: 30px;
}

.toggle-language-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.toggle-language-btn button {
  background-color: #d0fd1b;
  color: #000000;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.434);
}

.toggle-language-btn button:hover {
  background-color: rgb(211, 211, 211);
  color: #181818;
}
