@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar.bg-dark {
    background-color: #000000 !important;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    background: rgb(33,33,33);
    background: radial-gradient(circle, rgba(33,33,33,1) 0%, rgba(5,5,5,1) 100%);
    position: fixed;
    padding: 10px 20px;
    width: 100%;
}

.navbar-nav {
    display: flex;
    gap: 20px;
}

.navbar-nav a {
    color: #ffffff;
    padding: 10px 20px;
}

.navbar-nav a:hover {
    background-color: #080808;
    border-radius: 5px;
    color: #d0fd1b;
}

/* .navbar-nav :active{
    text-decoration: underline;
    color: #d0fd1b;
} */

.navbar-nav .nav-link.active {
    text-decoration: underline;
    color: #d0fd1b;
}

  
.navbar-brand {
    font-size: 1.55rem;
}
  
.navbar-nav .nav-link {
    font-size: 1.2rem;
    margin-right: 10px;
}

.info-icon-button {
    position: fixed;
    bottom: 50px;
    left: 50px;
    border: none;
    background-color: transparent;
    color: #007bff;
    cursor: pointer;
}